<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.chao.platform.dao.ClientMapper">

    <select id="getClientList" resultType="ClientBase">
        select
            clientId,
            companyName,
            companyAddress,
            createTime,
            modifyTime
        from client
        where status = 1
        order by createTime desc
        limit #{pageSize} offset #{startRow}
    </select>

    <select id="clientCount" resultType="int">
        select count(1) from client
        where status = 1
    </select>

    <select id="getClient" resultType="ClientBase">
        select
            clientId,
            companyName,
            companyAddress,
            createTime,
            modifyTime
        from client
        where status = 1
        and clientId = #{clientId}
    </select>

    <insert id="addClient">
        insert into client
        (
        clientId,
        companyName,
        companyAddress,
        createTime,
        modifyTime,
        status
        )
        values
        (
        #{clientBase.clientId},
        #{clientBase.companyName},
        #{clientBase.companyAddress},
        #{clientBase.createTime},
        #{clientBase.modifyTime},
        #{clientBase.status}
        )
    </insert>

    <update id="deleteClient">
        update client
        set status = 0
        where clientId = #{clientId}
    </update>
</mapper>