<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户详情</title>
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>

<div id="clientsDetail" class="container" style="width: 80%">
    <h2 class="text-center mb-3">{{ clientDetail.companyName }}</h2>
    <p class="text-center mb-3">{{ clientDetail.companyAddress }}</p>

    <br />
    <table class="table table-hover">
        <thead>
        <tr>
            <th>姓名</th>
            <th>联系电话</th>
            <th>邮箱</th>
            <th>QQ</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody v-if="result.code==0">
        <tr v-for="contact in clientDetail.clientContactList" >
            <td>{{ contact.name }}</td>
            <td>{{ contact.tel }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.qq }}</td>
            <td>
                <a style="color: #007BFF;" v-on:click="deleteContact($event,contact.id)" class="offset-1">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 查询失败时显示 -->
    <h4 class="text-center text-muted" v-if="result.code != 0">{{ result.message }}</h4>
</div>
</body>
<script>
    new Vue({
        el:'#clientsDetail',
        data:{
            result:'',
            clientDetail:''
        },
        methods:{
            deleteContact: function (e,contactId)
            {
                var _self = this;

                if (confirm("确认删除？"))
                {
                    $.ajax({
                        url: "/client/contactInfo/"+contactId,
                        type:"delete",
                        async: false,
                        success: function (res) {
                            if(res.code==0){
                                alert("删除成功！");
                                $(e.currentTarget).parents("tr").remove();
                            }else {
                                alert("删除失败:"+res.message);
                            }
                        },
                        error: function () {
                            alert("未知错误！")
                        }
                    });
                }
            }
        },
        beforeCreate:function ()
        {
            var _self = this;

            $.get
            (
                "/clientInfo/"+home.clientDetailId,
                function (res)
                {
                    _self.result = res;

                    if (res.code == 0)
                    {
                        _self.clientDetail = res.data;
                    }
                }
            );
        }
    });


</script>
</html>